header {
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 20px;
    max-height: 5vh;
    height: auto;
    padding: 1vh 1vw;

    background-color: #292827;

    font-family: Arial, serif;
    font-weight: bold;

    display: flex;
    align-items: center; /* Vertically centers the content */
}

.header-nav {
    display: none;
    max-block-size: 4vh;
    width: auto ;
}

.header-name {
    position: absolute;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
    font-size: 5vh;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    padding: 1vh 1vw;

    background-image:linear-gradient(to right, #fff, #fff 33.33333%, #f10000 66.66666%, #0000f1);
    background-size: 300% 100%;
    background-position: top left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition:background-position 250ms ease-in-out;
}

.header-name:hover {
    background-position: top left 100%;
    cursor: pointer;

}